#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

param select eeprom/parameters
param import

param set SYS_AUTOSTART 1040
param set MAV_TYPE 22
param set COM_CPU_MAX -1
param set CBRK_SUPPLY_CHK 894281
param set EKF2_AID_MASK 1
param set EKF2_HGT_MODE 1
param set COM_RC_IN_MODE 1

param set-default SDLOG_MODE 1
param set-default SDLOG_PROFILE 131

param set-default TRIG_INTERFACE 3

param set-default VT_TYPE 0

param set-default PC104_SH_DEV "/dev/ttyS3"
param set-default PC104_SH_BAUD 115200
param set-default PC104_SERVO_DEV "/dev/ttyS4"
param set-default PC104_SERVO_BAUD 115200

dataman start
load_mon start

pc104_sensorhub start -d /dev/ttyS3 -b 115200
pc104_serial_servo start -d /dev/ttyS4 -b 115200

rc_update start
sensors start
commander start
navigator start

control_allocator start
ekf2 start
land_detector start multicopter

mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start
fw_att_control start
fw_pos_control_l1 start
vtol_att_control start

mavlink start -u 14550 -r 921600 -m onboard -o 14540

logger start -t -b 200

mavlink boot_complete
